
body {
    background-color: #f4f6f8;
    margin-left: 64px;
    margin-right: 64px;
    font-family: Arial, sans-serif;
    color: #404040;
}


h1, h2, h3, h4, h5, h6 {
    color: #000000;
}


h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
}


p {
    color: #000000;
}


a {
    color: #000000;
}


a:hover {
  color: #ff0000;
}


a:visited {
  color: #888888;
}


button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}


button:hover {
  background-color: #ff0000;
}


section {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 6px;
}


input:focus,
textarea:focus,
select:focus {
  background-color: #fff9c4;
  outline: none;
}

ul li:last-child,
ol li:last-child {
  font-style: italic;
}

@font-face {
  font-family: "HeadingFont";
  src: url("fonts/Roboto/static/Roboto-Black.ttf");
}
@font-face {
  font-family: "BodyFont";
  src: url("fonts/Roboto/static/Roboto_Condensed-Regular.ttf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HeadingFont";
}

body {
  font-family: "BodyFont";
}