
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.item img {
    width: 60px;
}